@charset "UTF-8";

body{background-color: #f6f6f6;}
a{
	text-decoration: none;
}
input {
	padding: 10px 20px;
}
.wrap{
	width: 100%;
	height: 947px;
	min-height: 947px;
	position: relative;
}
.flex_wrap:after, .convenient:after{
	clear: both;
	display:table;
	content: "";
}


.sp_contents{
	margin: 0 auto;
	position: relative;
	padding-bottom: 50px;
}
.flex_wrap{
	width:100%;
	position: relative;
	padding-bottom: 30px;
}

.flex_wrap>div{
	float: left;
}
.box_form{
	position: relative;
	margin: 30px 0;
}

.box_form>span{
	display: block;
}
.heading{
	width: 100%;
	border-bottom : 3px solid #704de4;
	padding-bottom : 5px;
	margin-top: 10px;
	position: relative;
}
.heading h3{
	display: inline-block;
	font-size: 26px;
	margin : 0;
}
.required{
	color: #ff3a48;
	font-size: 20px;
}
ul{
	list-style: none;
	display: block;
}
li{
	position: relative;
	float: left;
}
.dayoff_add{
	text-align: center; 
	background-color: rgb(217, 217, 217); 
	padding: 15px;
	margin-bottom: 30px;
	cursor: pointer;
}
.add_result{
	background-color: #fff;
	padding: 30px;
	text-align: center;
	margin-bottom: 20px;
}
.col3, col {
	width: 33%;
	display: inline-block;
	float: left;
	position: relative;
	
}
.col3:after{
	clear: both;
	content: "";
	display: block;
}
.txt_count{
	color:#656565;
	font-size: 14px;
}

/* 하단 버튼 */
.sp_btn_bottom{
	bottom: 0;
	left: 0;
	margin: 0 auto;
	position: relative;
}
.sp_btn_bottom input{
	display: inline-block;
	color: #fff;	
	width: 49%;
	height: 45px;
	line-height: 45px;
	text-align: center;
	text-decoration: none;
	border:0;
	cursor: pointer;
}
.btn_wrap{
	margin:0;
	padding:0;
}
.btn_prev{
	background-color: #4d4d4d;
}
.btn_next{
	background-color: #ff3a48;
	right:0;
}
.btn{
	background-color: #704de4;
	padding: 10px 20px;
	color: #fff;
	display: inline-block;
}
/* 지정휴무 팝업 */
#dayoff_pop{
	width: 300px;
	position: absolute;
	background-color: #f6f6f6;
	left: 25%;
	top: 30%;
	display: none;
}
.pop_header{
	padding: 10px;
	background-color: #704de4;
	color: #fff;
	border-radius: 8px 8px 0 0;
}
.pop_container{
	padding: 15px;
	border-radius: 0 0 8px 8px;
}
.dayoff_pop_close{
	cursor: pointer; 
	font-weight: 900; 
	right: 10px; 
	position: absolute; 
	padding: 0 10px;
}
.btn_next_pop{
	background-color: #ff3a48;
	color: #fff;
	text-align: center;
	height: 35px;
	/* line-height: 35px; */
	width: 100%;
	display: block;
	border-radius: 5px;
	border:0;
	cursor: pointer;
}

@media (max-width: 767px){
	.box_form:first-child{
		margin-bottom:0;
	}
}
@media (min-width: 768px) {
	.sp_contents{
		padding: 100px 50px 100px;
	}
	.flex_wrap>div{
		width: 50%;
	}
	/* .flex_wrap>div:first-child{
		padding-right: 30px;
	} */
	.sp_btn_bottom{
		width: 768px;
		margin: 0 auto;
	}
	
	/* 지정휴무 팝업 */
	#dayoff_pop{
		width: 550px;
	}
	.pop_container{
		padding: 15px 30px;
	}
}
@media (min-width: 1208px) {
	.sp_contents{
		width: 1258px;
	}
	.flex_wrap>div{
	}
	.sp_btn_bottom{
		width: 1258px;
	}
}

@media (max-height: 600px) {
	.sp_btn_bottom{
		position: relative;
	}
}