<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
		  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
		<!-- 앨리어스를 사용해서 깡통클래스 값을 가져와서 db에 보냄 -->
		
	<typeAliases>
		<typeAlias type="com.see0gan.payment.vo.PaymentVO" alias="paymentVO"/>
		
		<typeAlias type="com.see0gan.mypage.vo.MypageVO" alias="mpvo"/>
		
		<typeAlias type="com.see0gan.login.vo.GuestVO" alias="guestVO"/>
		<typeAlias type="com.see0gan.login.vo.HostVO" alias="hostVO"/>
		
		<typeAlias type="com.see0gan.booking.vo.BookingVO" alias="bookingVO"/>
		
		<typeAlias type="com.see0gan.space.vo.SP_GuideInfoVO" alias="sp_guideinfovo"/>
		<typeAlias type="com.see0gan.space.vo.SP_AccountsInfoVO" alias="sp_accountsinfovo"/>
		<typeAlias type="com.see0gan.space.vo.SP_BasicInfoVO" alias="sp_basicInfoVO"/>
		<typeAlias type="com.see0gan.space.vo.SP_HostInfoVO" alias="sP_HostInfoVO"/>


	</typeAliases>
	
</configuration>
